# =============== Unity 默认忽略 ===============

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# JetBrains Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS 生成的系统文件
.DS_Store
Thumbs.db

# Unity 自动生成的文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Crash reports
sysinfo.txt

# Unity 系统文件夹
*.apk
*.aab

# Rider 和 VS 的配置缓存
*.DotSettings
*.dotCover

# 日志或本地文件
*.log
*.log.*
*.orig

# 自定义忽略
sa-sdk-unity.sin
unity_3d_sdk.sin
SensorsAnalyticsPCSDK.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
unity-3d-sdk.sln
